body{
    background-image: url(imagens/fundo.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    border: 1px solid transparent;
    margin: 0px;
    padding: 0px;
}
section {
    width: 425px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgb(0, 0, 0, 0.8);
    border: 1px solid transparent;
    padding: 0 0 0 2.5rem;
    box-sizing: border-box;
}
.titulo h1{
    color: white;
    margin-top: 55px;
}
.titulo-fora img{
    width: 200px;
    height: 100px;
    padding: 0px;
}
#email{
    width: 280px;
    max-width: 280px;
    height: 45px;
    background-color: #333333;
    color: #6B6B6B;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
}
#senha{
    width: 280px;
    height: 45px;
    background-color: #333333;
    color: #6B6B6B;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    margin-top: 15px;
}
#entrar{
    width: 295px;
    height: 45px;
    background-color: #E50913;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    margin-top: 30px;
    display: block;
    cursor: pointer;
    transition: transform 0.2s ease;
}
#entrar:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
#checkbox{
    margin-top: 20px;
}
.lembrar{
    color: #fff;
}
section p{
    float: right;
    color: #fff;
    margin-top: -16px;
    margin-right: 73px;
    font-size: 12px;
}
.cinza{
    color: #6B6B6B;
}
.ajuda{
    float: left;
    margin-top: 40px;
    font-size: 14px;
}
.captpcha{
    color: #6B6B6B;
    font-size: 11px;
    margin-top: 5px;
}
footer{
    width: 100%;
    height: auto;
    background-color: #161616;
}
@media (max-width:393px){
    section{
        padding: 0 1rem 0 1rem;
    }
}